<<<<<<< HEAD
/* body, ul, li {
		margin :0;
	padding : 0;
	list-style: none;
} */
=======
>>>>>>> refs/heads/seungha
header {
	background-color: black;
	height: 400px;
}

.header-logo {
	margin-top: 0px;
	padding-left: 50px;
	padding-top: 50px;
}

header a {
	color: white;
	text-decoration: none; /* a tag의 밑줄 없애기 */
}

/* navigation css */
nav {
	display: inline-block;
}

nav ul {
	list-style: none;
}

nav>ul {
	display: inline-block;
}

nav>ul>li {
	display: inline-block;
	position: relative;
}

nav>ul>li>ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -10px;
}

<<<<<<< HEAD
nav>ul>li>ul>li {
	margin: 20px;
}

nav>ul>li:hover>ul {
	display: inline-block;
}

nav a {
	text-decoration: none; /* a tag의 밑줄 없애기 */
	display: inline-block;
	width: 80px;
	text-align: center;
	color: white;
	font-weight: bold;
}

a {
	text-decoration: none;
=======

nav>ul>li:hover>ul {
	display: inline-block;
	background : white;
}

nav a {
	text-decoration: none; /* a tag의 밑줄 없애기 */
	display: inline-block;
	width: 80px;
	text-align: center;
	color: white;
	font-weight: bold;
}
nav>ul>li>ul>li a{
	margin: 20px;
	color : black;

}

a {
  text-decoration: none;
>>>>>>> refs/heads/seungha
}

nav a:hover {
	color: #F90;
	font-weight: bold;
}

body {
	margin: 0;
}

.container {
	background-color: orange;
	min-height: 800px;
	/* width: 1200px; */
	padding-top: 54px;
	padding-bottom: 160px;
	margin-left: 50px;
	margin-right: 50px;
}

footer {
	background-color: yellow;
}

input.underline {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
<<<<<<< HEAD
=======
}

.main-visual-slide {
	text-align: center;
}

body {
	width: 100%;
	/* font-family: "ct", "Noto", "돋움", Dotum, arial, sans-serif; */
	font-weight: 400;
	color: #000;
	background-color: #fff;
	line-height: 1;
	list-style: none;
}

/* .main-visual-slide .swiper-container .swiper-slide .box {
	width: 389px;
	height: 492px;
	border-radius: 0 0 0 100px;
	white-space: normal;
	position: relative;
}
.main-visual-slide .swiper-slide .img {
	z-index: 1;
	height: 100%;
	width: 389px;
	height: 492px;
}
.main-visual-slide .swiper-container .swiper-slide .str {
	right: 40px;
	bottom: 20px;
	left: 40px;
	color: black;
	position: absolute;
	vertical-align: middle;
	text-align: left;
	font-size: 20px;
}
.swiper-container {
	width: 800px;
}
.section1 {
	width: 800px;
}
* /
 .swiper-container {
	width: 100px;
}
.section1 {
	width: 300px;
	height: 400px;
	margin-left: 10px;
	margin-right: 50px;
}
.section2 {
	width: 100px;
	height: 100px
}
img {
	height: 100%;
	weight: 100%;
}
.box {
	height: 300px;
	weight: 400px;
}
.box2 {
	height: 200px;
	weight: 300px;
} */
.main-container {
	position: relative;
	width: 95%;
	/* height: 500px; */
	margin: auto;
	top: -250px;
	border: 4px solid pink;
	display : flex;
	justify-content: space-around;
}

.main-container> .img {
	width: 500x;
	height: 600px;
	margin-left : 10px;
}

img {
	width: 100%;
	height: 100%;
}

.main-container2 {
	position: relative;
	width: 95%;
	height: 500px;
	margin: auto;
	top: -120px;
	border: 4px solid pink;
	display : flex;
	
}

.main-container2 .title {
	font-size: 54px;
    font-weight: 550;
    
}

.main-container2 .keyword {
	
	margin : 0 50px 370px 50px;
	border: 4px solid pink;
	overflow:hidden;
}
input:focus {
	outline: none;
}
input{
	width: 100%;
	border-left-width : 0;
	border-right-width : 0;
	border-top-width : 0;
	border-bottom: 1px solid #ddd;
}
table{
	margin-left: auto; margin-right: auto;
	text-align: left;
	border-spacing : 0px;
}
table tbody tr p{
	margin : 0;
	font-size: 14px;
	color: #c2935f;
	font-weight: bold;
	margin-top: 5px;
}
table tbody tr th{
	text-align: left;
	height : 80px;
	font-size: 24px;
	vertical-align: initial;
	padding : 0px;
}
table tbody tr th h3 {
    color: #000;
    font-size: 25px;
    border-bottom : solid;
    padding-bottom: 15px;
    padding-right: 0px;
}
table tbody tr td{
	padding : 0px;
}
table tbody tr td input{
	margin-bottom: 15px;
	font-size : 16px;
	font-weight: bold;
}
table tbody tr td h3 {
    color: #000;
    font-size: 25px;
    border-bottom : solid;
    padding-bottom: 15px;
}


h2.page-title{
	text-align: center;
>>>>>>> refs/heads/seungha
}

.main-visual-slide {
	text-align: center;
}

body {
	width: 100%;
	/* font-family: "ct", "Noto", "돋움", Dotum, arial, sans-serif; */
	font-weight: 400;
	color: #000;
	background-color: #fff;
	line-height: 1;
	list-style: none;
}

/* .main-visual-slide .swiper-container .swiper-slide .box {
	width: 389px;
	height: 492px;
	border-radius: 0 0 0 100px;
	white-space: normal;
	position: relative;
}

.main-visual-slide .swiper-slide .img {
	z-index: 1;
	height: 100%;
	width: 389px;
	height: 492px;
}

.main-visual-slide .swiper-container .swiper-slide .str {
	right: 40px;
	bottom: 20px;
	left: 40px;
	color: black;
	position: absolute;
	vertical-align: middle;
	text-align: left;
	font-size: 20px;
}

.swiper-container {
	width: 800px;
}

.section1 {
	width: 800px;
}

* /
 .swiper-container {
	width: 100px;
}

.section1 {
	width: 300px;
	height: 400px;
	margin-left: 10px;
	margin-right: 50px;
}

.section2 {
	width: 100px;
	height: 100px
}

img {
	height: 100%;
	weight: 100%;
}

.box {
	height: 300px;
	weight: 400px;
}

.box2 {
	height: 200px;
	weight: 300px;
} */
.main-container {
	position: relative;
	width: 95%;
	/* height: 500px; */
	margin: auto;
	top: -250px;
	border: 4px solid pink;
	display : flex;
	justify-content: space-around;
}

.main-container> .img {
	width: 500x;
	height: 600px;
	margin-left : 10px;
}

img {
	width: 100%;
	height: 100%;
}

.main-container2 {
	position: relative;
	width: 95%;
	height: 500px;
	margin: auto;
	top: -120px;
	border: 4px solid pink;
	display : flex;
	
}

.main-container2 .title {
	font-size: 54px;
    font-weight: 550;
    
}

.main-container2 .keyword {
	
	margin : 0 50px 370px 50px;
	border: 4px solid pink;
	overflow:hidden;
}