.page-title { margin: 40px 0 40px; color: #000; font-size: 34px; font-weight: 500; text-align: center; }

.snb-content-wrap .page-title { text-align: left; }

.page-title.type2 { margin-bottom: 40px; font-size: 0px; font-weight: 500; font-family: "ct", "Noto", "돋움", Dotum, arial, sans-serif; }

.page-title.type2 a { cursor: pointer; }

.page-title.type2 span, .page-title.type2 a { font-size: 40px; }

.page-title.type2 + .wrap-product-list { margin-top: 0; }

.page-title.type2.eng { font-weight: 400; }

.page-title.type3 { margin: 40px 0; font-weight: 500; font-size: 40px; }

.page-title.type4 { margin: 40px 0 40px; font-size: 40px; font-weight: 500; }

.page-title.type5 { margin: 40px 0 33px; font-weight: 500; font-size: 40px; }

.page-title .sub { display: block; margin: 0 0 10px; font-size: 18px; font-weight: 400; }

.page-title .btn-link { margin-left: 10px; vertical-align: bottom; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

/* 2022-09-11 일요일  */
header {
	background-color: black;
	height: 400px;
}

.header-logo {
	margin-top: 0px;
	padding-left: 50px;
	padding-top: 50px;
}

header a {
	color: white;
	text-decoration: none; /* a tag의 밑줄 없애기 */
}

/* navigation css */
nav {
	display: inline-block;
}

nav ul {
	list-style: none;
}

nav>ul {
	display: inline-block;
}

nav>ul>li {
	display: inline-block;
	position: relative;
}

nav>ul>li>ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -10px;
}


nav>ul>li:hover>ul {
	display: inline-block;
	background : white;
}

nav a {
	text-decoration: none; /* a tag의 밑줄 없애기 */
	display: inline-block;
	width: 80px;
	text-align: center;
	color: white;
	font-weight: bold;
}
nav>ul>li>ul>li a{
	margin: 20px;
	color : black;

}

a {
	text-decoration: none;
}

nav a:hover {
	color: #F90;
	font-weight: bold;
}

body {
	margin: 0;
}

.container {
	background-color: orange;
	min-height: 800px;
	/* width: 1200px; */
	padding-top: 54px;
	padding-bottom: 160px;
	margin-left: 50px;
	margin-right: 50px;
}

footer {
	background-color: yellow;
}

input.underline {
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
}

.main-visual-slide {
	text-align: center;
}

body {
	width: 100%;
	/* font-family: "ct", "Noto", "돋움", Dotum, arial, sans-serif; */
	font-weight: 400;
	color: #000;
	background-color: #fff;
	line-height: 1;
	list-style: none;
}

.main-container {
	position: relative;
	width: 95%;
	/* height: 500px; */
	margin: auto;
	top: -250px;
	border: 4px solid pink;
	display : flex;
	justify-content: space-around;
}

.main-container> .img {
	width: 500x;
	height: 600px;
	margin-left : 10px;
}



.main-container2 {
	position: relative;
	width: 95%;
	height: 500px;
	margin: auto;
	top: -120px;
	border: 4px solid pink;
	display : flex;
	
}

.main-container2 .title {
	font-size: 54px;
    font-weight: 550;
    
}

.main-container2 .keyword {
	margin : 0 50px 370px 50px;
	border: 4px solid pink;
	overflow:hidden;
}




ul, li{
	list-style-type : none;
}
